[Unit]
Description=vsftpd-2.3.4
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/ftp/
ExecStart=/usr/local/sbin/vsftpd

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
